
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
.logo{
color:red;
}
    nav a{
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 5rem;
        text-decoration: none;
        color: black;
        font-family: 'Play', sans-serif;

    }

    nav a:hover{
        color: #a5c33c;
    cursor: pointer;

    }

.socials{
    margin-left: 20rem;
}

.social-icons{
    padding-top: 3rem;

padding-right:3rem ;
    font-size: 1.5rem;
}

.social-icons:hover{
    color: #a5c33c;
    cursor: pointer;
}

    header .nav-btn{
     padding: 5px;
     cursor: pointer;
     background: transparent;
     border: none;
     outline: none;
     visibility: hidden;
     opacity: 0; 
     font-size:1.8rem ;  
    }

    @media only screen and (max-width: 1024px) {
        header .nav-btn {
            visibility: visible;
            opacity: 1;
        }
    .socials{
        visibility: hidden;
    }
        header nav {
            position: fixed;
            top: -100vh;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            background-color: var(--mainColor);
            transition: 1s;
        }
    
        header .responsive_nav {
            transform: translateY(100vh);
            background-color:#a5c33c;

        }
    
        nav .nav-close-btn {
            position: absolute;
            top: 6rem;
            right: 2rem;
        }
    
        nav a {
            font-size: 1.5rem;
        }
    }
